.heand{
 
    margin-top: 10px;
    /* padding-top: 1px; */
    /* border-bottom: 0cap; */
    /* height: 10px; */
    width: 900px;
}
.heand2 {
    
    width: 900px;
    height: 800px;
    background-color:azure;
   
}
.bottom{
    font: 1em sans-serif;
  padding-top: 700px;
}

.select{
    width: 400px;
    height: 47px;
    margin-top: 25px;
    text-align: center
}
.fuli1{
    margin-top: 15px;
    margin-bottom: 20px;
}
.fuli2{
    margin-top: 15px;
    margin-bottom: 20px;
}
.fuli3{
    margin-top: 15px;
    margin-bottom: 20px;
}